<button mat-raised-button 
      class="casilla" 
      (click)="descubrir()"
      (contextmenu)="marcar($event)"
      [disabled]="descubierta"
      [ngStyle]="{'background-color': descubierta ? 'lightgray' : 'gray'}"
      >
      <!-- 
      <ng-container *ngIf="descubierta">
        <mat-icon *ngIf="mina">dangerous</mat-icon>
        <span *ngIf="!mina && minasCercanas > 0">{{ minasCercanas }}</span>
      </ng-container> -->
      <ng-container *ngIf="descubierta"> 
        <span *ngIf="minasCercanas > 0">{{ minasCercanas }}</span>
      </ng-container>
      <mat-icon *ngIf="!descubierta && marcada" fontIcon="flag" aria-hidden="false"></mat-icon>
</button>
